<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <h1>Bienvenido</h1>
        <h2>Crea las mejores notas en Noteapp. Edita, elimina y más!</h2>
    </header>
    
    <div class="options">
        <a href="/html/iniciar-sesion.html">Iniciar sesion</a> <br>
        <a href="/html/registrarse.html">Registrarse</a>
    </div>
    
</body>
</html>